*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(235, 246, 255);
}

.container{
    width: 100%;
    background-color: white;
}

.container-md{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* header */

#header-contain{
    height: 100px;
    line-height: 100px;
}

#img-header{
    padding: 10px 5px 10px 20px;
    vertical-align: middle;
}

#title{
    font-size: 40px;
    font-weight: bold;
    
    vertical-align: middle;
}

/* main */

.container-btn{
    border: 1px solid rgb(235, 246, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-left: 50px;
}

.btn{
    border-radius: 5px;
    padding: 5px 10px;
    font-family: cursive;
    margin: 20px 0;
    border: none;
}

.blue{
    background-color: lightskyblue;
    color: white;
}

.white{
    background-color: white;
    color:rgb(235, 246, 255);
    border: 1px solid rgb(235, 246, 255);
}